@import "./color-palette";

.blue {
  color: $blue;
}

.red {
  color: $red;
}

.yellow {
  color: $yellow;
}

.orange {
  color: $orange;
}

.primary {
  color: $primary;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-auto {
  flex: auto;
}

.flex-none {
  flex: none;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.cursor-pointer {
  cursor: pointer;
}

.word-break-all {
  word-break: break-all;
}

.white-space-nowrap {
  white-space: nowrap;
}
